<div class="container-fluid banner_principal">
    <div class="row inf_banner_principal">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Registro de entradas y salidas de un almacén, para registrar los movimientos de inventario o cualquier
                otro registro contable.El método de Kardex es el sistema de inventarios permanente el cual permite un
                control constante del inventario, llevando el registro de cada unidad que se ingresa y sale,
                pudiendo conocer el saldo exacto y el valor de venta.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


