<div class="container-fluid login_form banner ">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            <legend><h2 class="form-signin-heading">Ingresar al sistema</h2></legend>
            <form class="form-signin" ng-submit="ctrlLog.login()">

                <div class="error_log"><span ng-show="ctrlLog.authError">*Username o Password incorrectos</span></div>

                <label for="inputUsername" class="sr-only">Username</label>
                <input ng-model="ctrlLog.inputUsername" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label></br>
                <input ng-model="ctrlLog.inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <button ng-disabled="ctrlLog.loading" class="btn btn-danger  btn-block" type="submit">Entrar</button>
                    </div>
                    <div class="col-md-4">
                        <img ng-if="ctrlLog.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>




